#cart .card .me-4 {
    width: 180px;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  #cart .card .me-4 img {
      width: 100%;
  }

.ir-inicio{
    text-decoration: underline;
    color: #000;
    font-weight: bolder;
}

.ir-inicio:hover{
    color: #444;
}

#container{
    margin: 25px;
    padding: 10px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#cart{
    background-color: #333333;
}

#eli-prod:hover{
    cursor: pointer;
    color: #f00;
}
