#cart .card .me-4 {
    width: 180px;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  #cart .card .me-4 img {
      width: 100%;
  }

#container{
    margin: 25px;
    padding: 10px;
}

#cart{
    background-color: #333333;
}

#eli-prod:hover{
    cursor: pointer;
    color: #f00;
}
