body {
    display: grid;
    place-items: center;
    height: 100dvh;
   }

   .card{
    position: relative;
    padding: 20px;
    min-width: 300px;
    min-height: 450px;
   }
   .card::after{
    content: "\f2bb"; /* Código del icono (puede variar según el icono) */
    position: absolute;
    display: block;
    top: 5px; /* Ajusta la posición vertical */
    right: 5px; /* Ajusta la posición horizontal */
    font-family: 'Material Icons';
    font-size: 24px; /* Ajusta el tamaño del icono */
   }

   .error-container{
    display: none;
    color: #f00;
    font-weight: bold;
    font-size: 15px;
   }


   .material-symbols-outlined {
    font-size: 5em;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


#submit-button{
    width: 100%;
  }

