:root {
    --negro: #000000;
    --amarillo-intenso: #FFD700;
    --gris-oscuro: #333333;
    --blanco: #FFFFFF;
    --gris-claro: #CCCCCC;
    --amarillo-suave: #FFF9C4;
}
.session{
    color:#fff;
    display: flex;
    align-items: center;
}

.logout-li{
    cursor: pointer;
}
.logout-li:hover{
    color: rgb(215, 103, 103);
}

.email-li{
    margin-right: 25px;
    font-size: 1.4rem;
    background-image: linear-gradient(to right, #FF7F50, #D4AF37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.div-navbar{
    justify-content: space-around;
}

#li-nav{
    margin: 0 15px 0 15px;
}

#cart-link{
    color: #fff;
    text-decoration: none;
}

#navbar{
    background-color: var(--gris-oscuro)!important;
}

#gymworld{
    color: var(--amarillo-intenso);
    font-weight: bolder;
    font-size: 20px;
}

#gymworld:hover{
    text-shadow: -1px 1px 13px rgba(255,215,0,0.9);
}