:root {
    --negro: #000000;
    --amarillo-intenso: #FFD700;
    --gris-oscuro: #333333;
    --blanco: #FFFFFF;
    --gris-claro: #CCCCCC;
    --amarillo-suave: #FFF9C4;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--gris-oscuro);
    }
    
    .texto h2 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .texto p {
        font-size: 0.9rem;
        color: #555;
        margin: 5px 0 10px;
    }
.precio{
    color: rgb(35, 172, 35);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

.lineaInferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
}

.pProducto{
    font-size: 1rem;
    margin: 0;
}

.input-group {
    margin-top: 15px;
}
.card-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    padding: 35px;
}
#cardProducto{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    width: 1000px; /* Ajusta según prefieras */
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.texto{
    margin-bottom: 10px;
}
#producto-img{
    width: 60%;
    height: auto;
    object-fit: cover;
}

.btnProducto{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-style: normal;
}